<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of carousel_items;let index=index" [ngClass]="{active: index==0}">
      <img class="d-block w-100" [src]="item.img" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.title}}</h5>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" *ngFor="let item of carousel_items;let index=index" data-slide-to="index"
      [ngClass]="{active: index==0}"></li>
  </ol>
</div>
<div class="row mt-3 mb-3" *ngIf="todoList">
  <div class="col-md-4 mb-2" *ngFor="let item of todoList.youtubes">
    <div class="card">
      <img class="card-img-top" [src]="item.youtube_image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.subtitle}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="todoList">
  <p>Todo</p>
  <ul>
    <li *ngFor="let item of todoList.youtubes;let i=index">{{i+1}} : {{item.title}}</li>
  </ul>
</div> -->